.code-block {
	color: var(--code-base);

	& :where(.tok-comment, .tok-docComment, .tok-docString) {
		color: var(--code-comment);
	}

	& :where(.tok-keyword) {
		color: var(--code-keyword);
	}

	& :where(.tok-string, .tok-string2, .tok-escape, .tok-regexp) {
		color: var(--code-string);
	}

	& :where(.tok-number, .tok-bool, .tok-null) {
		color: var(--code-number);
	}

	& :where(.tok-atom, .tok-constant) {
		color: var(--code-atom);
	}

	& :where(.tok-function) {
		color: var(--code-function);
	}

	& :where(.tok-typeName, .tok-className) {
		color: var(--code-type);
	}

	& :where(.tok-variableName, .tok-variableName2, .tok-self, .tok-propertyName) {
		color: var(--code-variable);
	}

	& :where(.tok-tagName) {
		color: var(--code-tag);
	}

	& :where(.tok-attributeName) {
		color: var(--code-attribute);
	}

	& :where(.tok-operator, .tok-keyword-operator) {
		color: var(--code-operator);
	}

	& :where(.tok-punctuation) {
		color: var(--code-punctuation);
	}

	& :where(.tok-bracket, .tok-paren, .tok-brace, .tok-angleBracket) {
		color: var(--code-bracket);
	}

	& :where(.tok-separator) {
		color: var(--code-separator);
	}

	& :where(.tok-contentSeparator) {
		color: var(--code-content-separator);
	}

	& :where(.tok-special, .tok-meta, .tok-macroName, .tok-namespace, .tok-annotations) {
		color: var(--code-special);
	}

	& :where(.tok-labelName) {
		color: var(--code-label);
	}

	& :where(.tok-heading) {
		color: var(--code-heading);
		font-weight: 700;
	}

	& :where(.tok-emphasis) {
		color: var(--code-emphasis);
	}

	& :where(.tok-strong) {
		color: var(--code-strong);
		font-weight: 700;
	}

	& :where(.tok-link) {
		color: var(--code-link);
	}

	& :where(.tok-monospace) {
		color: var(--code-monospace);
	}

	& :where(.tok-definition, .tok-local, .tok-standard) {
		color: var(--code-definition);
	}
}
